.input{
    color: rgb(51, 51, 51);
    width: 100%;
    border: 2px solid rgb(241, 242, 244);
    height: 32px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 8px;
    font-family: Nunito;
    padding-left: 10px;
    border-radius: 11px;
    margin-bottom: 5px;
}